body{
    text-align: center;
}
 
table{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    border: 5px groove;
    background-color: white;
}
 
td{
    border-top: 1px dashed;
}
 
th{
    border: 2px solid;
}
